*,
html {
  padding: 0;
  margin: 0;
}

.main {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #1f1d28;
  padding: 20px;
}

.box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.box-img .left {
  width: 528px;
  margin-right: 20px;
  padding: 12px;
  border: 3.5px solid #C09F24;
  position: relative;
  text-align: center;
}
.box-img .left .bg {
  width: 86%;
}
.box-img .right {
  padding: 12px;
  width: 528px;
  border: 3.5px solid #C09F24;
  position: relative;
}

.bg {
  width: 100%;
}

.box_left {
  width: 100%;
  text-align: center;
}
.box_left .left-img {
  width: 80%;
}
.box_left .left-img.left-img-2 {
  width: 50%;
}
.box_left .p1 {
  text-transform: uppercase;
  font-size: 24px;
  padding-bottom: 20px;
  color: #b57b63;
}
.box_left .h31 {
  font-family: "HP001_Kieu2_5H";
  font-size: 36px;
  color: #b57b63;
  padding: 0;
}
.box_left .p11 {
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px 0;
  color: #b57b63;
}
.box_left .p2 {
  color: #9d7d68;
}
.box_left .p3 {
  padding-top: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: #b57b63;
}
.box_left .p22 {
  position: relative;
  font-size: 32px;
  font-weight: bold;
  font-family: "Dancing Script";
}
.box_left .p22::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px dashed #1f1d28;
  width: 50%;
  margin: 0 auto;
}
.box_left .p3 {
  color: #b57b63;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
  padding-top: 8px;
}

.box_right {
  position: absolute;
  top: 160px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 460px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1.4px;
  color: #b57b63;
}
.box_right .bird {
  width: 100px;
  margin: 0 auto 20px;
}
.box_right .p_img {
  text-align: center;
  margin-bottom: 12px;
}
.box_right .p_img img {
  width: 120px;
}
.box_right .p1 {
  text-transform: uppercase;
  font-size: 24px;
  color: #C09F24;
  margin-bottom: 8px;
}
.box_right .p4 {
  color: #C09F24;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 22px;
  padding-top: 4px;
  letter-spacing: 1.2px;
  margin-bottom: 8px;
}
.box_right .p4 strong {
  font-size: 17px;
}
.box_right .p5 {
  color: #b57b63;
  font-size: 100px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.box_right .p6 {
  color: #C09F24;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 22px;
  padding-top: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}
.box_right .p7 {
  color: #C09F24;
  font-size: 14px;
  margin-bottom: 12px;
  letter-spacing: 1px;
}
.box_right .p8 {
  text-transform: uppercase;
  color: #C09F24;
  padding: 0 0 8px;
  font-weight: bold;
}
.box_right .p9 {
  color: #b57b63;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 22px;
}
.box_right hr {
  width: 100px;
  background-color: #C09F24;
  margin: 0 auto;
  height: 0.5px;
  border: none;
  margin-top: 12px;
}
.box_right .p10 {
  font-size: 14px;
  font-style: italic;
  padding-top: 6px;
  margin-bottom: 40px;
  color: #C09F24;
}
.box_right .b1 {
  text-align: right;
  padding-right: 70px;
  margin-bottom: 14px;
  color: #C09F24;
}
.box_right .b1:last-child {
  margin-bottom: 0;
}
.box_right .b1 p {
  margin-bottom: 6px;
  font-size: 13px;
}
.box_right .b1 p:not(.box_right .b1 p:first-child) {
  text-transform: uppercase;
}
.box_right .b1 p:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}