*,
html {
    padding: 0;
    margin: 0;
}

.main {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f1d28;
    padding: 20px;
}
.box-img {
    display: flex;
    flex-wrap: wrap;
    .left {
        width: 528px;
        margin-right: 20px;
        padding: 12px;
        border: 3.5px solid #C09F24;
        position: relative;
        text-align: center;
        .bg {
            width: 86%;
        }
    }
    .right {
        padding: 12px;
        width: 528px;
        border: 3.5px solid #C09F24;
        position: relative;
    }
}
.bg {
    width: 100%;
}
// .form {
//     width: 300px;
//     padding: 20px;
//     border: 1px solid #ddd;
//     margin: 20px;
//     margin-top: 40px;
//     .group {
//         margin-bottom: 8px;
//         label {
//             display: block;
//             margin-bottom: 4px;
//         }
//         input {
//             width: 100%;
//             height: 20px;
//             padding: 4px;
//         }
//         select {
//             width: 100%;
//             height: 34px;
//             padding: 4px;
//         }
//     }
//     .btn {
//         padding: 6px 20px;
//         background: #b57b63;
//         color: #fff;
//         border: 1px solid #fff;
//         margin-top: 8px;
//         cursor: pointer;
//         &:hover {
//             color: #b57b63;
//             background: #fff;
//             border: 1px solid #b57b63;
//         }
//     }
// }
.box_left {
    width: 100%;
    text-align: center;
    .left-img {
        width: 80%;
        &.left-img-2 {
            width: 50%;
        }
    }
    .p1 {
        text-transform: uppercase;
        font-size: 24px;
        padding-bottom: 20px;
        color: #b57b63;
    }
    .h31 {
        font-family: 'HP001_Kieu2_5H';
        font-size: 36px;
        color: #b57b63;
        padding: 0;
    }
    .p11 {
        text-transform: uppercase;
        font-size: 24px;
        padding: 20px 0;
        color: #b57b63;
    }
    .p2 {
        color: #9d7d68;
    }
    .p3 {
        padding-top: 50px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: bold;
        color: #b57b63;
    }
    .p22 {
        position: relative;
        font-size: 32px;
        font-weight: bold;
        font-family: 'Dancing Script';
        &::after {
            content: "";
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: 1px dashed #1f1d28;
            width: 50%;
            margin: 0 auto;
        }
    }
    .p3 {
        color: #b57b63;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 22px;
        padding-top: 8px;
    }
}

.box_right {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    // background-color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.4px;
    color: #b57b63;
    .bird {
        width: 100px;
        margin: 0 auto 20px;
    }
    .p_img {
        text-align: center;
        margin-bottom: 12px;
        img {
            width: 120px;
        }
    }
    
    .p1{
        text-transform: uppercase;
        font-size: 24px;
        color: #C09F24;
        margin-bottom: 8px;
    }
    .p4 {
        color: #C09F24;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 22px;
        padding-top: 4px;
        // font-family: 'Times New Roman', Times, serif;
        letter-spacing: 1.2px;
        margin-bottom: 8px;
        strong {
            font-size: 17px;
        }
    }
    .p5 {
        color: #b57b63;
        font-size: 100px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
    .p6 {
        color: #C09F24;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 22px;
        padding-top: 16px;
        font-weight: bold;
        margin-bottom: 2px;
    }
    .p7 {
        color: #C09F24;
        font-size: 14px;
        margin-bottom: 12px;
        letter-spacing: 1px;
    }
    .p8 {
        text-transform: uppercase;
        color: #C09F24;
        padding: 0 0 8px;
        font-weight: bold;
    }
    .p9 {
        color: #b57b63;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 22px;
    }
    hr {
        width: 100px;
        background-color: #C09F24;
        margin: 0 auto;
        height: 0.5px;
        border: none;
        margin-top: 12px;
    }
    .p10 {
        font-size: 14px;
        font-style: italic;
        padding-top: 6px;
        margin-bottom: 40px;
        color: #C09F24;
    }
    .b1 {
        text-align: right;
        padding-right: 70px;
        margin-bottom: 14px;
        color: #C09F24;
        &:last-child {
            margin-bottom: 0;
        }
        p {
            // font-family: 'Times New Roman', Times, serif;
            margin-bottom: 6px;
            font-size: 13px;
            &:not(&:first-child) {
                text-transform: uppercase;
            }
            &:first-child {
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 8px;
            }
        }
    }
}